body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('back.webp'); /* Background image */
    background-size: cover;
    background-position: center;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

.bookshelf {
    background-size: contain;
    background-repeat: no-repeat;
    width: 600px; /* Adjust to fit the image */
    height: 800px; /* Adjust to fit the image */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px; /* Adjust padding to fit games on the shelves */
}

.shelf {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.shelf.top {
    padding-top: 20px;
}

.shelf.middle {
    padding: 50px 0;
}

.shelf.bottom {
    padding-bottom: 20px;
}

.game {
    width: 150px;
    height: 200px;
    perspective: 1000px;
    cursor: pointer;
    transition: transform 0.3s ease;
    position: relative; /* Enable positioning */
}

.game img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.game:hover img {
    transform: translateZ(100px);
}

#clock {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: transparent; /* remove background */
    padding: 10px;
    border-radius: 8px;
    font-size: 24px;
    color: #fff; /* change font color to white */
}
/* Move game1 5 pixels up and to the left */
#game1 {
    top: 60px;
    left: -5px;
}

/* Move game2 5 pixels up and to the right */
#game2 {
    top: 60px;
    left: -100px;
}

/* Move game3 5 pixels down and to the left */
#game3 {
    top: 25px;
    left: -5px;
}

/* Move game4 5 pixels down and to the left */
#game4 {
    top: 25px;
    left: -100px;
}

/* Move game5 5 pixels down and to the right */
#game5 {
    top: -10px;
    left: 15px;
}

/* Move game6 5 pixels up and to the right */
#game6 {
    top: -10px;
    left: -60px;
}
